<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link type="text/css" rel="stylesheet" href="styleses.css">
</head>
  <body>
        <nav class="navbar navbar-default">
                <div class="container">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">TechBista Solution's</a>
                  </div>
                  <div class="container">
                  
                    <ul class="nav navbar-nav">
                      <li><a href="/admin-panel" class="dropdown-item">Admin</a></li>
                      <li><a href="/teacher-admin-panel" class="dropdown-item">Teacher's Admin</a></li>
                    </ul>
                   
                  </div> 
                 
                </div>
              </nav>
              

              
    <div class="container-fluid" style="margin-top: 100px; padding:0px 0px 0px 20px;border-radius: 7px;">
        <div class="row" style="padding-top: 80px;padding-bottom: 50px;">                                
            <div class="col-xs-12  col-md-10 col-md-offset-1">
                <div class="owl-carousel owl-carousel-fullwidth-a">
                    <% if(records.length > 0){
                        records.forEach(function(row){  
                        %>
                        
                   <div class="cards" style="box-shadow:0px 2px 8px 0px rgba(0,0,0,0.25);">
                    <%= row.teacher_uid %>
                       <div class="boxs">  
                           <div class="imgs">
                               <img class="img2" src="./uploads/<%= row.image %>">
                            </div>
                             
                           <div class="row">
                               <div class="col-xs-7">
                                <% if(row.exist_id!==1234567890){%>
                                  <h2 style="color: #7b7b7b;font-family: sans-serif;font-weight: bold;font-size: 15px;"><%= row.subject_name %>&nbsp;<%= row.class_name %></h2>
                                <% }%>
                                   
                                   <h6 style="color: #000;font-size: 12px;margin-left: 10px;font-family: sans-serif;font-weight: bold;">Vocabulary by <%= row.teachername %></h6>
                               </div>
                               
                                <% if(row.exist_id==1234567890){%>
                                <div class="col-xs-5 abc">
                                  <a class="btn btn-md"><p>Join Now</p></a>
                                </div>
                                <% } else{%>
                                <div class="col-xs-5 card-btn">
                                  <a href="/getStudentUser/<%= row.teacher_uid %>"  class="btn btn-md"><p>Join Now</p></a>   
                                </div> 
                                
                                <% } %>
                                     
                               
                               <div class="col-xs-8">
                                <% if(row.teacher_uid!==1234567890){%>
                                  <h5>Student's 50</h5>
                                  <% }%>
                                   <h6 style="font-size: 11px;font-family: sans-serif;"><p style="color:#7b7b7b;letter-spacing: 1px;">15 min * By <%= row.teachername %></p></h6>
                               </div>
                               
                               
                               <div class="row" style="padding: 15px;">
                                   <div class="col-xs-10 col-xs-offset-1" style="height: 1px;background-color:#a3a3a3; ">
                                       
                                   </div>
                               </div>
                           </div>

                       </div>
                    </div>
                    <%  }) } %>
                </div> 
            </div>
        </div>
    </div>    
    <footer>
        <center><p style="text-align: center">CopyRight &copy; Abhishek Dhakad</p></center>
         </footer>

         

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
  <script src="main.js" defer></script>
       </body>
     </html>
     